/* ================== 홈페이지 기본 세팅 (기본값 0으로 초기화 작업) 시작 ================== */

/* 블럭요소에 있는 모든 여백제거 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
ul,
ol,
li,
p,
form,
fieldset,
button,
input,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* li 장식 제거 */
li {
  list-style: none;
}
/* a 글자색, 밑줄 */
a {
  color: #333333;
  text-decoration: none;
  cursor: pointer;
}
/*  이미지 와 글자의 정렬로 생기는 여백 제거 */
img {
  vertical-align: top;
}
/* i,em,address 기울여진 글자 바로 */
i,
em,
address {
  font-style: normal;
}
address {
  cursor: text;
}
/* 마우스 모양 */
label {
  cursor: text;
}
/* 기본글씨체, 크기, 줄간격, 색상 */
body {
  font-family: "NanumBarunGothic", sans-serif;
  font-size: 16px;
  color: #333;
}

.blind {
  position: absolute;
  top: -9999px;
}

/* 모든 자식이 float되면 부모가 사라진다, 찾기 */
.clearFix::after {
  content: "";
  display: block;
  clear: both;
}

hr {
  display: none;
}

button,
select {
  text-transform: none;
  overflow: visible;
}

.mob_mod {
  display: none !important;
}

caption,
.opacity_0 {
  position: absolute;
  opacity: 0;
  z-index: -99;
}

textarea {
  font-family: "NanumBarunGothic", sans-serif;
  resize: none;
}

/* ================== 홈페이지 기본 세팅 (기본값 0으로 초기화 작업) 끝 ================== */

/* 대표 폰트 나눔바름고딕 */

@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 400;
  src: local("Nanum Barun Gothic Regular"), local("Nanum Barun Gothic-Regular"),
    local("NanumBarunGothic Regular");
  src: url(../../public/fonts/NanumBarunGothic.woff) format("woff");
}

@font-face {
  font-family: "NanumBarunGothicBold";
  font-style: normal;
  font-weight: 500;
  src: local("Nanum Barun Gothic Bold"), local("Nanum Barun Gothic-Bold"),
    local("NanumBarunGothic Bold");
  src: url(../../public/fonts/NanumBarunGothicBold.woff) format("woff");
}

/* ================== 대표 색상 ================== */

.main_color {
  color: #ffdb00 !important;
}
.text_color {
  color: #333333 !important;
}
.text_sub_color {
  color: #666666 !important;
}
.white_color {
  color: #ffffff !important;
}
.red_color {
  color: #cc291c !important;
}
/* ================== 버튼 색상 ================== */

/* ================== 공통 버튼 ================== */

/* ================== 기본 css ================== */

.mr_5 {
  margin-right: 5px !important;
}
.mr_10 {
  margin-right: 10px !important;
}
.mr_20 {
  margin-right: 20px !important;
}
.ml_0 {
  margin-left: 0px !important;
}
.ml_5 {
  margin-left: 5px !important;
}
.ml_10 {
  margin-left: 10px !important;
}
.ml_30 {
  margin-left: 30px !important;
}
.ml_55 {
  margin-left: 55px !important;
}
.mr_18 {
  margin-right: 18px !important;
}
.mb_20 {
  margin-bottom: 20px !important;
}
.mt_0 {
  margin-top: 0px !important;
}
.mt_5 {
  margin-top: 5px !important;
}
.mt_9 {
  margin-top: 9px !important;
}
.mt_10 {
  margin-top: 10px !important;
}
.mt_11 {
  margin-top: 11px !important;
}
.mt_12 {
  margin-top: 12px !important;
}
.mt_13 {
  margin-top: 13px !important;
}
.mt_14 {
  margin-top: 14px !important;
}
.mt_15 {
  margin-top: 15px !important;
}
.mt_17 {
  margin-top: 17px !important;
}
.mt_20 {
  margin-top: 20px !important;
}
.mt_22 {
  margin-top: 22px !important;
}
.mt_30 {
  margin-top: 30px !important;
}
.mt_50 {
  margin-top: 50px !important;
}
.m_center {
  margin: 0 auto !important;
}
.mb_0 {
  margin-bottom: 0px !important;
}
.mb_5 {
  margin-bottom: 5px !important;
}
.mb_10 {
  margin-bottom: 10px !important;
}
.mb_20 {
  margin-bottom: 20px !important;
}
.m_zero {
  margin: 0 !important;
}
.pb_0 {
  padding-bottom: 0px !important;
}
.pb_10 {
  padding-bottom: 10px !important;
}
.pb_20 {
  padding-bottom: 20px !important;
}
.pr_0 {
  padding-right: 0px !important;
}
.pr_3 {
  padding-right: 3px !important;
}
.pr_30 {
  padding-right: 30px !important;
}
.pl_0 {
  padding-left: 0px !important;
}
.pl_20 {
  padding-left: 20px !important;
}
.pt_0 {
  padding-top: 0px !important;
}
.pt_5 {
  padding-top: 5px !important;
}
.pt_10 {
  padding-top: 10px !important;
}
.pt_20 {
  padding-top: 20px !important;
}
.ptb_30 {
  padding: 30px 0 !important;
}
.p_zero {
  padding: 0 !important;
}
.p_5 {
  padding: 5px 10px !important;
}
.p_20 {
  padding: 20px !important;
}
.text_center {
  text-align: center !important;
}
.text_left {
  text-align: left !important;
}
.text_right {
  text-align: right !important;
}
.text_underline {
  text-decoration: underline !important;
}
.cursor_pointer {
  cursor: pointer !important;
}
.text_underline_none {
  text-decoration: none !important;
}
.float_left {
  float: left !important;
}
.float_right {
  float: right !important;
}
.display_block {
  display: block !important;
}
.display_none {
  display: none !important;
}
.display_inline_block {
  display: inline-block !important;
}
.display_inline {
  display: inline !important;
}
.w_auto {
  width: auto !important;
}
.w_100 {
  width: 100% !important;
}
.h_100 {
  height: 100% !important;
}
.font_bold {
  font-weight: bold !important;
}
.font_normal {
  font-weight: normal !important;
}
.font_size_22 {
  font-size: 22px !important;
}
.font_size_20 {
  font-size: 20px !important;
}
.font_size_18 {
  font-size: 18px !important;
}
.font_size_16 {
  font-size: 16px !important;
}
.font_size_14 {
  font-size: 14px !important;
}
.font_size_12 {
  font-size: 12px !important;
}
.border_box {
  box-sizing: border-box !important;
}
.border_top {
  border-top: 1px solid #eee !important;
}
.border_top_2 {
  border-top: 2px solid #eee !important;
}
.border_none {
  border: none !important;
}
.border_bottom_none {
  border-bottom: none !important;
}
.position_static {
  position: static !important;
}
.position_relative {
  position: relative !important;
}
.font_weight_bold {
  font-weight: bold !important;
}
.break_all {
  word-break: break-all !important;
}
.border_1px_gray {
  border: 1px solid #ccc !important;
}
.line_height_normal {
  line-height: normal !important;
}

/* ================== header ================== */
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
nav {
  height: 70px;
  background-color: #181818;
}
.navLogo {
  float: left;
  height: 70px;
  padding: 15px;
  background-color: #000000;
}
.navLogo img {
  width: 130px;
}
.navRight {
  width: 100%;
  padding: 23px 30px;
}
.navMenu {
  float: left;
  margin-left: 30px;
}
.navMenu li {
  float: left;
  margin-right: 30px;
}
.navMenu li a {
  color: #fff;
  font-size: 20px;
  position: relative;
}
.navMenu li:hover a {
  color: #ffdb00;
}
.navMenu li a::after {
  content: "";
  display: block;
  width: 0%;
  height: 3px;
  background-color: #ffdb00;
  position: absolute;
  top: 37px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease-in-out;
}
.navMenu > li:hover > a::after {
  width: 100%;
}
.navMenu > li > a.active {
  color: #ffdb00;
}
.navMenu > li > a.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ffdb00;
  position: absolute;
  top: 37px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease-in-out;
}
.navGnd {
  float: right;
}
.navGnd li {
  float: left;
  margin-left: 30px;
}
.navGnd a {
  color: #fff;
  font-size: 20px;
}

/* ================== footer ================== */

footer {
  background-color: #dddddd;
  padding: 20px;
  margin-top: 20px;
}
.footerLogo {
}
.footerLogo img {
  width: 100px;
}
.footerTop {
  margin-top: 10px;
  margin-bottom: 5px;
  padding-top: 10px;
  border-top: 1px solid #878787;
  color: #666666;
}
.footerTop small {
  float: left;
  font-size: 12px;
  margin-right: 20px;
}
.footerTop > ul > li {
  float: left;
  font-size: 12px;
  margin-right: 10px;
  text-decoration: underline;
}
.footerTop > ul > li > a {
  color: #666666;
}
.footerTop > ul > li > a:hover {
  color: #333333;
}
.footer p {
  font-size: 12px;
  color: #666666;
}
