/* ================== main.html ================== */

/* mainVideo */
#mainVideo {
  width: 100%;
  height: calc(100vh - 100px);
  background-color: #000000;
  position: relative;
}
.videoTitle {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  color: #fff;
}
.videoSubTitle {
  font-size: 30px;
  margin-bottom: 10px;
}
.videoMainTitle {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 50px;
}
.videoBtn img {
  width: 65px;
}

/* mainBanner */

#mainBanner {
  width: 100%;
  height: calc(100vh - 67px);
  background-color: #202020;
  position: relative;
}
.bannerBox {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
}
.bannerTitle {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}
.bannerBtn {
  margin-bottom: 45vh;
}
.bannerBtn li {
  float: left;
  margin-right: 10px;
}
.bannerBtn li:last-child {
  margin-right: 0px;
}
.bannerBtn li a img {
  width: 55px;
}
.bannerProductName {
  font-size: 60px;
  font-weight: bold;
}
.bannerProductExplain {
  font-size: 30px;
}
#container {
  background-color: snow;
}
.mainCenter {
  width: 1200px;
  margin: 0 auto;
  background-color: aliceblue;
}
section {
  padding: 10px;
}
